[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = http://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/lua-inspect"]
	path = bundle/lua-inspect
	url = https://github.com/xolox/vim-lua-inspect.git
[submodule "bundle/lua-support"]
	path = bundle/lua-support
	url = https://github.com/vim-scripts/lua-support.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/Command-t"]
	path = bundle/Command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = https://github.com/spf13/PIV.git
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "bundle/SnipMate"]
	path = bundle/SnipMate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "CheckSyntax"]
	path = CheckSyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/HTML-AutoCloseTag"]
	path = bundle/HTML-AutoCloseTag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Nerd-Commenter"]
	path = bundle/Nerd-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/css_color"]
	path = bundle/css_color
	url = https://github.com/vim-scripts/css_color.vim.git
