[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "bundle/SnipMate"]
	path = bundle/SnipMate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/mhz/vim-matchit.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Nerd-Commenter"]
	path = bundle/Nerd-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
